{% extends 'userprofile/base.html' %}
{% block main_link_id %}contractLink{% endblock %}
{% block sub_link_id %}contractReport{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      
      <h1>
        Contract
        <small>Report</small>
      </h1>
      
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Contract</a></li>
        <li class="active">Report</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="box box-primary">
          <br><br>
          <form id="contractForm" action={% url 'contract-report' %} method='GET'>
            <div class="col-md-2">
              <h4>Select Date Range</h4>
            </div>
            <div class="input-group col-md-8">
              <input type="text" name="contract_date_range"  class="form-control daterange pull-right" {% if from_date and to_date %}value="{{from_date|date:'m-d-Y'}} - {{to_date|date:'m-d-Y'}}"{% endif %} required>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-flat submitBtn">Search</button>
              </span>
            </div>
          </form>

          <div class="box-header">
            <h3 class="box-title"></h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table id="enquiryReportTable" class="table table-bordered table-striped dataTable">
              <thead>
                <tr>
                  <th>No</td>
                  <th>Customer ID</th>
                  <th>Contract ID</th>
                  <th>Enquiry Person</th>
                  <th>Company Name</th>
                  <th>Address</th>
                  <th>Mobile</th>
                  <th>Enquiry</th>
                  <th>Service Type</th>
                  <th>Contract Type</th>
                  <th>Service Schedule</th>
                  <th>Contract Date</th>
                  <th>Contract Amount</th>
                  <th>Billed Amount</th>
                  <th>Received Rs</th>
                  <th>Pending Amount</th>
                  <th>Terms & Condition</th>
                  <th>Whose Order</th>
                </tr>
              </thead>
              <tbody>
                {% for contract in contracts %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{contract.customer.customer_id}}</td>
                  <td><a href="{% url 'contract-details' contract_id=contract.contract_id %}">{{contract.contract_id}}</a></td>
                  <td>{{contract.customer.contact_person|title}}</td>
                  <td>{{contract.customer.company_name|title}}</td>
                  <td>{{contract.customer.address}}</td>
                  <td>{{contract.customer.mobile}}</td>
                  <td>{{contract.enquiry.enquiry_id}}</td>
                  <td>{{contract.enquiry.get_service_type_display}}</td>
                  <td>{{contract.get_contract_type_display}}</td>
                  <td>{{contract.schedule}}</td>
                  <td>{{contract.date}}</td>
                  <td>{{contract.net_contract_amount}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>{{contract.get_terms_display}}</td>
                  <td>{{contract.contract_employee.userprofile.full_name}}</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="12" class="alert alert-info">No contract available</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
              
            {% with contracts as objects %}
            {% include 'userprofile/pagination.html' %}
            {% endwith %}

          </div>
        </div>        
      </div>
    </section>
    
{% endblock %}
{% block custom_js %}
<script>
  $(function () {
    $('.daterange').daterangepicker();
  });
  $('#contractForm').submit(function(e) {
    var form = $(this);
    form.find('.submitBtn').attr('disabled', 'disabled');
    form.find('.submitBtn').html('Searching..')
  });
</script>
{% endblock %}