{% extends 'userprofile/base.html' %}
{% block main_link_id %}enquiryLink{% endblock %}
{% block sub_link_id %}enquiryReport{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      
      <h1>
        Enquiry
        <small>Report</small>
      </h1>
      
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Enquiry</a></li>
        <li class="active">Report</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="box box-primary">
          <br><br>
          <form id="enquiryForm" action={% url 'enquiry-report' %} method='GET'>
            <div class="col-md-2">
              <h4>Select Date Range</h4>
            </div>
            <div class="input-group col-md-8">
              <input type="text" name="enquiry_date_range"  class="form-control daterange pull-right" required>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-flat">Search</button>
              </span>
            </div>
          </form>

          <div class="box-header">
            <h3 class="box-title"></h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table id="enquiryReportTable" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <td>No</td>
                  <td>Enquiry ID</td>
                  <td>Enquiry Person</td>
                  <td>Customer Type</td>
                  <td>Company Name</td>
                  <td>Company Type</td>
                  <td>Address</td>
                  <td>Mobile</td>
                  <td>Email</td>
                  <td>Service Type</td>
                  <td>Enquiry Date</td>
                  <td>Status</td>
                </tr>
              </thead>
              <tbody>
                {% for enquiry in enquiries %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>
                    {% if enquiry.status == 'c' %}
                    <a href="/enquiry/{{enquiry.enquiry_id}}/contract/">
                    {% else %}
                    <a href="/enquiry/{{enquiry.enquiry_id}}/">
                    {% endif %}
                      {{enquiry.enquiry_id}}
                    </a>
                  </td>
                  <td>{{enquiry.customer.contact_person|title}}</td>
                  <td>{{enquiry.customer.get_customer_type_display}}</td>
                  <td>{{enquiry.customer.company_name|title}}</td>
                  <td>{{enquiry.customer.get_company_type_display|default:''}}</td>
                  <td>{{enquiry.customer.address|default:''}}</td>
                  <td>{{enquiry.customer.mobile}}</td>
                  <td>{{enquiry.customer.email}}</td>
                  <td>{{enquiry.customer.get_customer_type_display}}</td>
                  <td>{{enquiry.enquiry_date}}</td>
                  <td>{{enquiry.get_status_display}}</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="12" class="alert alert-info">No enquiry available</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
              
            {% with enquiries as objects %}
            {% include 'userprofile/pagination.html' %}
            {% endwith %}

          </div>
        </div>        
      </div>
    </section>
    
{% endblock %}
{% block custom_js %}
<script>
  $(function () {
    $('.daterange').daterangepicker();
  });
</script>
{% endblock %}